@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$submit-green: rgb(44, 179, 35);
$pink: rgb(248, 89, 116);
$green: #29B8A6;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$primary: $submit-green;
$link: $submit-green;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: $beige-lighter;
$input-shadow: none;
