@import '../../../main-styles.scss';

.budget {
    display: flex;
    justify-content: space-between;
    width: 60%;
    border-radius: 5px;
    background-color: $beige-light;
    padding: 5px;
    margin-top: 10px;

}

.income {
    border: 1px solid $green;
    p {
        color: $green;
    }
}

.expense {
    border: 1px solid $pink;
    p {
        font-weight: bold;
        color: $pink;
    }
}